# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

### Objectives:
->PYTHON
->R
->SQL
->SCALA
->JULIA

Some of the popular languages that Data Scientists use are:
1)Python
2)R
3)SQL
4)Java
5)SCALA

Some of the commonly used libraries used by Data Scientists include:
1)NUMPY
2)PANDAS
3)Matplotlib
4)Seaborn
5)pytorch
6)scikit-learn

## Data Science Tools
  Jupyternotebooks
  RStudio
  Spyder

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Pranay